[submodule "src/mingw-threads"]
	path = src/mingw-threads
	url = https://github.com/meganz/mingw-std-threads.git
[submodule "mxe"]
	path = mxe
	url = https://github.com/mxe/mxe.git
[submodule "qtbase"]
	path = qtbase
	url = https://github.com/qt/qtbase.git
	branch = 5.7.0
        ignore = dirty

